*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

.qmake.cache
.qmake.stash
*.pro.user*
*.qbs.user*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*~
*.autosave

*.qmlproject.user
*.qmlproject.user.*

CMakeLists.txt.user

# Android
gradle.properties
local.properties
